#mini-game {
  overflow: auto !important;
  max-width: 768px;
  max-height: 768px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  div {
    display: none !important;
  }
  canvas {
    width: 100% !important;
    z-index: 1 !important;
  }
}
